<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Ár kalkulátor</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>
<h1>Ár kalkulátor</h1>
<p/>

<div>
    <h2>Fizetendő</h2>
    <table>
        <thead>
        <tr>
            <th>termék</th>
            <th>mennyiség</th>
            <th>minőség</th>
            <th>módosító (%)</th>
            <th>költség</th>
            <th></th>

        </tr>
        </thead>

        <tbody>
            <tr th:each="item : ${cart.items}">
                <td th:text="${item.name,}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="${item.quality}"></td>
                <td th:text="${item.modifier}"></td>
                <td th:text="${item.price}"></td>
                <td> <a th:href="@{/modifyItem/{id}(id=${item.id})}"
                        class="btn btn-primary">módosítás</a>
                    <a th:href="@{/deleteItem/{id}(id=${item.id})}"
                       class="btn btn-danger">törlés</a>
                </td>
            </tr>,
            <tr>
                <td>
                    <a th:href="@{/addItem/}" class="btn btn-primary">új elem</a>
                </td>

            </tr>

        </tbody>

    </table>

</div>

<p/>

</body>
</html>